$bg-color: #111;
$black: #000;
$white: #fff;
$gray: #dfdfdf;
$hover-gray: #a3a2a2;
$play-btn-bg: #f0f0f0;
$play-btn-hover-bg: #e0e0e0;
$more-btn-bg: #757272;
$more-btn-hover-bg: #656565;
$lightgray: #d3d3d3;
$slider-bg: rgb(22, 22, 22, 0.5);
$input-bg: #333333;
$button-bg: #e50914;
$text-color: #b3b3b3;
$b-color: #0071eb;
