@import "./variables";

section {
  width: 100%;
  margin-top: 50px;

  .container_title {
    color: $white;
    margin-left: 73px;
    font-size: 1.4vw;
    font-weight: bold;
  }

  .wrapper {
    max-width: 100%;
    position: relative;
    margin-left: 50px;

    .container {
      margin-left: 10px;
      margin-top: 15px;
      transform: translateX(0);
      transition: all 1s ease;
    }

    .control-btn button {
      width: 50px;
      height: 89%;
      background-color: rgb(22, 22, 22, 0.5);
      color: white;
      position: absolute;
      z-index: 99;
      top: 0;
      bottom: 0;
      margin: auto;
      cursor: pointer;

      &.next {
        position: absolute;
        top: 10px;
        right: 1px;
      }

      &.prev {
        position: absolute;
        top: 10px;
        left: -20px;
        z-index: 99;
      }

      &.icon {
        font-size: 25px;
      }
    }
  }
}
