@import "./variables";

.featured_movie {
  height: 80vh;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #111, transparent);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .movie_info {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    color: $white;

    img {
      width: 400px;
    }

    .description {
      margin: 20px 0px;
    }

    .buttons {
      display: flex;

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;

        &.playBtn {
          background-color: $play-btn-bg;
          color: $black;
          transition: background-color 0.1s ease-in-out;

          &:hover {
            background-color: $play-btn-hover-bg;
          }
        }

        &.moreBtn {
          background-color: $more-btn-bg;
          color: $white;
          transition: background-color 0.1s ease-in-out;

          &:hover {
            background-color: $more-btn-hover-bg;
          }
        }

        span {
          margin-left: 5px;
        }
      }
    }
  }
}
