@import "./variables";

section {
  width: 100%;
  margin-top: 50px;

  .container_title {
    color: $white;
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
  }

  .wrapper {
    position: relative;
    display: flex;

    .sliderArrow {
      background-color: $slider-bg;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 50px;
      height: 100%;
      margin: auto;
      color: $white;
      cursor: pointer;
      z-index: 99;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }

    .container {
      display: flex;
      gap: 10px;
      width: max-content;
      margin-left: 50px;
      margin-top: 20px;
      transform: translateX(0);
      transition: all 1s ease;
    }
  }
}
