@import "./variables";

header {
  background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.4) 50%);
  width: 100%;
  position: fixed;
  top: 0;
  color: $white;
  font-size: 14px;
  z-index: 999;
  transition-timing-function: ease-in;
  transition: all 0.5s;

  &.scrolled {
    background-color: $bg-color;
    transition: all 700ms ease-in-out;
  }

  navbar {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;

    .left {
      display: flex;
      align-items: center;

      img {
        height: 25px;
        margin-right: 40px;
      }

      ul {
        display: flex;
        gap: 15px;
        font-size: 24x;

        a {
          color: $gray;
          letter-spacing: 1px;
          cursor: pointer;
          transition: color 0.2s ease-in-out;

          &:hover {
            color: $hover-gray;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;

      .icon {
        margin: 0px 12px;
        cursor: pointer;
      }

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
      }

      .profile_box {
        .options {
          background-color: $bg-color;
          display: none;
          border-radius: 5px;
          opacity: 0.9;
          padding: 10px;
          text-align: center;
        }

        .menu-icon {
          margin-right: 10px;
        }

        span {
          font-size: 13px;
          display: flex;
          justify-content: flex-start;
          padding: 15px 10px;
          cursor: pointer;

          &:nth-last-child(1) {
            border-top: 1px solid $gray;
            opacity: 0.9;
          }
        }

        &:hover {
          .options {
            position: absolute;
            top: 55px;
            right: 30px;
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
